.list-item-delete {
  right: 24px;
  bottom: 21px;
  font-size: 20px;
  width: 68px;
  height: 60px;
  cursor: pointer;
  display: flex;
  padding-right: 24px;
  justify-content: flex-end;
  align-items: center;
  /*transform: translateY(-3px);*/
}

.list-item-delete-icon {
  height: 20px;
  width: auto;
  transition: all .3s;
}

.list-item-delete:hover .list-item-delete-icon {
  transform: scale(1.15);
}
