.for-sale-card-container{
  margin: 3em 70%;
  border: solid black 2px;
  margin-left: 4%;
  padding: 2%;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.for-sale-card-header{
  margin-bottom: 4%;
}
