/*///////////////////////////////////////Jobs///////////////////////////////////////////////////////////////////////*/

.card-container{

  border: solid black 2px;
  margin: 4% 2% 0% 2%;
  padding: 2%;
  width: 320px;
  display: inline-grid;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-header{
  margin-bottom: 4%;
}
