.card-container{
  background: #fff;
  box-shadow: 0 10px 34px 10px rgba(0,0,0,.1);
  margin-bottom: 10%;
  padding: 44px;
  border-radius: 5px;
}

.card-container h2 {
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: -.2px;
}

.card-container hr {
  border: 0;
  height: 2px;
  background: #d4dce8;
  margin: 35px 0;
}

.card-container ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  list-style: none;
  line-height: 3.0;
  justify-content: space-between;
}

.card-container li {
  width: 60px;
}

.card-header{
  margin-bottom: 4%;
}

.tag{
  width: 157px;
}
