.listings-container {
  position: relative;
  width: 100%;
}

.searchbar-container {
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #d9e1ed;
  margin-bottom: 5em;
}


.searchbar-container .input {
  font-size: 20px;
  width: 94%;
  padding: 12px 20px;
}

.searchbar-icon {
  height: 27px;
  width: 27px;
  margin-left: 11px;
  transform: translateY(7px);
  opacity: .8;
}

.filter-container {
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #d9e1ed;
  margin-bottom: 5em;
  display: flex;
  justify-content: flex-start;
}

.newest-oldest-filter {
  justify-self: flex-end;
  /*border: 1px solid #ccc;*/
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  /*background: #fafafa url("../../assets/icons/drop-down-arrow.svg") no-repeat 90% 50%;*/
}

select {
  padding: 5px 8px;
  width: 130%;
  font-size: 13px;
  font-family: circular-black;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #aab4c2;
  letter-spacing: -0.1px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all .2s;
}

select:hover {
  color: #648496;
}

select:focus {
  outline: none;
}

.list-item-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.list-item-container{
  width: 27.3333%;
  min-width: 300px;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.2)
}

.list-item-image{
  width: 100%;
  display: block;
  height: 80%;
}

.list-item-title-container {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
