.navbar-container {
  width: 100%;
  padding: 2em 0;
  margin-bottom: 1.5em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.navbar-logo-png{
  height: 25px;
  margin-left: 20px;
  margin-right: 25px;
}

.navbar-logo a {
  font-family: circular-bold;
  letter-spacing: .25px;
  color: #aab4c2;
  transition: all .2s;
  text-transform: uppercase
}

.navbar-logo a:hover {
  color: #648496;
}

.navbar-account {
  font-family: circular-black;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  text-transform: uppercase;
  padding: 13px 38px;
  margin-top: 2px;
  color: #aab4c2;
  transition: all .2s;
}

.navbar-account:hover {
  color: #648496;
}
