body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: none;
    
  }

.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-type{
    text-align: left;
}

.main-form-title{
    font-size: 30px;
    font-family: bold;
    margin: 3%;
}

.for-sale-border-box{
     margin: 5% 10%;
     /* border: 1px solid black; */
  }

.for-sale-main-input-box{
      background-color: whitesmoke;
      margin: 2% 3%;
      
  }


.top-input-image-box{
    display: flex;
    justify-content: space-around;
  

}

.top-right-image-box{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    
}


.top-left-input-column{
    margin-top:2%;
    margin-bottom:2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}  


.description{
    margin-top: 4%;
    max-width: 100%;
    height: 100px;
}


  