/* FORM COMPONENT */

.form-parent-component {
  position: relative;
  width: 100%;
  margin: 40px auto;
}

/* CATEGORY LIST COMPONENT */
.category-list-container {
  position: relative;
  width: 80%;
  margin: 0 auto
}

.category-list-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  list-style: none;
}

.category-list-container li {
  cursor: pointer
}

.tag-list-container {
  position: relative;
  width: 80%;
  margin: 40px auto;
}

.tag-list-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.tag-list-container li {
  min-width: 20%;
  margin: 10px 6%;
  cursor: pointer;
}
