.most-viewed-container {
  width: 100%;
  padding-top: 2em;
  display: grid;
  grid-template-columns: 31.3333% 31.3333% 31.3333%;
  grid-gap: 3%;
  margin-bottom: 4.5em;
}

.most-viewed-item{
  display: grid;
  grid-template-columns: 65% 35%;
  color: #648496;
  background: #fff;
  box-shadow: 0 10px 34px 10px rgba(0,0,0,.1);
}

.most-viewed-content {
  text-align: left;
  font-size: 16px;
  padding: 24px;
}

.most-viewed-price {
  margin-top: 6px;
  font-size: 14px;
  color: #aab4c2;
}

.most-viewed-image-container {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
